*,
html,
body {
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(43, 48, 53);
  opacity: 75%;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.lipsum {
  display: flex;
  justify-content: left;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 3px;
  line-height: 200%;
  text-align: justify;
  font-size: large;
}

.cardlocal {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 15%;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardlocal div {
  margin: 20px;
}

.imagelocal {
  font-size: 500%;
  text-align: center;
}

.card-text {
  text-align: justify;
}
